{% extends "auctions/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing</title>
</head>
<body>
{% block body %}
    <div class="row mb-3 ">
        <div class="col-md-8 container-fluid">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block" style="padding: 0">
                    <img src="{{ listing.image_url }}" class="card-img-top" width="350" height="400" alt="img">

                </div>
                <div class="col p-4 d-flex flex-column position-static">

                    <form action="{% url 'watch' listing.id %}" method="post">
                        {% if is_watched %}
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="btn mb-1 btn-danger float-right" type="submit"
                                       value="Remove From Watch List">
                            </div>
                        {% else %}
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="btn mb-1 btn-light float-right" type="submit" value="Add To Watch List">
                            </div>
                        {% endif %}
                    </form>

                    <strong class="d-inline-block mb-2 text-muted">{{ listing.category }}</strong>
                    <h3 class="mb-0 text-primary">{{ listing }}</h3>
                    <div class="mb-1 text-muted">Created on: {{ listing.date }}</div>
                    <p class="card-text mb-auto">{{ listing.description }}</p>
                    {% if current_bid == 'No Bids Yet' %}
                        <p class="card-text mb-auto text-primary">Starting Price: {{ listing.start_price }}</p>
                    {% else %}
                        <p class="card-text mb-auto text-primary">Current Bid: {{ current_bid }}</p>
                    {% endif %}

                    {% if my_listing == False %}
                        <form action="{% url 'show' listing.id %}" method="post" class="form-group col p-4 d-flex">
                            {% csrf_token %}
                            <input autofocus class="form-control" style="width: 150px" step="0.01" type="number"
                                   name="bid_price"
                                   placeholder="Place Bid">
                            <input autofocus class="btn mb-1 btn-primary"
                                   style="width: 70px; height: 40px; margin-left: 15px"
                                   type="submit" value="Bid!">
                        </form>
                        {% if listing.is_closed == True %}
                            {% for bid in bids %}
                                {% if bid.bid == current_bid and bid.user == current_user %}
                                    <div class="alert alert-success" role="alert">
                                        Congrats!!! you won this auction yehoooooo
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <form action="{% url 'close' listing.id %}" method="post">
                            {% csrf_token %}
                            <input autofocus class="btn btn-danger" style="width: 70px; margin-left: 15px"
                                   type="submit" value="Close!">
                        </form>
                        {% if listing.is_closed == True %}
                            {% for bid in bids %}
                                {% if bid.bid == current_bid %}
                                    <div class="alert alert-success" role="alert">
                                        {{ bid.user.username }} is the winner
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {% if err %}
                        <div class="alert alert-danger" role="alert">
                            {{ err }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 ">
        <div class="col-md-8 container-fluid">
            <div class="col g-0 border rounded overflow-hidden flex-md-row mb-6 shadow-sm h-md-250 position-relative">
                <form action="{% url 'comment' listing.id %}" method="post" style="margin-bottom: 60px">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" rows="2" style="margin-top: 10px" name="comment"
                                  placeholder="Add Comment"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="btn mb-1 btn-primary float-right" type="submit" value="Comment">
                    </div>
                </form>
                {% for comment in comments %}
                    <div class="form-group">
                        <div class="text-muted">{{ listing.user.username }} Dated: {{ comment.time }}</div>
                        <div class="form-group">{{ comment.comment }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>