{% extends "auctions/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing</title>
</head>
<body>
{% block body %}
    {% if listing %}
        <div class="row mb-2 ">
            <div class="col-md-6 container-fluid">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block" style="padding: 0">
                        <img src="{{ listing.image_url }}" class="card-img-top" width="300" height="375" alt="img">

                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-muted">{{ listing.category }}</strong>
                        <h3 class="mb-0 text-primary">{{ listing }}</h3>
                        <div class="mb-1 text-muted">Created on: {{ listing.date }}</div>
                        <p class="card-text mb-auto">{{ listing.description }}</p>
                        {% if current_bid == 'No Bids Yet' %}
                            <p class="card-text mb-auto text-primary">Starting Price: {{ listing.start_price }}</p>
                        {% else %}
                            <p class="card-text mb-auto text-primary">Current Bid: {{ current_bid }}</p>
                        {% endif %}
                        <form action="{% url 'show' listing.id %}" method="post" class="form-group col p-4 d-flex">
                            {% csrf_token %}
                            <input autofocus class="form-control" style="width: 150px"  step="0.01" type="number" name="bid_price"
                                   placeholder="Place Bid">
                            <input autofocus class="btn btn-primary" style="width: 70px; margin-left: 15px"
                                   type="submit" name="bid" value="Bid!" placeholder="Bid">
                        </form>
                        {% if err %}
                            <div class="alert alert-danger" role="alert">
                                {{ err }}
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>